* {
  padding: 0;
  margin: 0;
}
.main-h {
  background-color: whitesmoke;
  border-bottom: solid 1px black;
  height: 80px;
  width: 100px;
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid navy;
  margin-top: 20px;
}

.header-container {
  width: 100%;
  background-color: skyblue;
  display: flex;
  justify-content: center;
}

.app {
  background-color: skyblue;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.site-app {
  width: 50%;
  background-color: whitesmoke;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid navy;
  border-top: 0px;
}

.inside-site {
  width: 90%;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

span {
  color: navy;
  font-weight: 600;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: red;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
}

ul {
  margin-bottom: 40px;
}

.history-container {
  margin-bottom: 20px;
}

.corporate-container {
  margin-bottom: 20px;
}

.corporate-container ul {
  padding: 10px;
  border: 1px dotted black;
  margin-top: 15px;
}

@media (max-width: 450px) {
  .main-h {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .site-app {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .site-app {
    width: 100%;
  }
  .main-h {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .main-h {
    margin-top: 0;
    border: 0px;
    border-bottom: 1px solid navy;
  }

  .app {
    padding-bottom: 0;
  }
  .site-app {
    border: 0px;
  }
}

@media (max-width: 600px) {
  .img-container img {
    width: 300px;
  }
}
